*{
    margin: 0;
    padding: 0;
}

#container{
    height: 800px;
    width: 800px;
    margin: 50px;
    border: solid 1px green;
    display: flex;
    flex-direction: column;
}

.row{
    height: 100%;
    display: flex;
    width: 100%;
}

.cellHover{
    background-color: aqua;
}


.cellBox{
    border: solid 1px blue;
    width: 100%;
    height: 100%;
    display: inline-block;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}